@page "/registered/{Id}"

@using System.ComponentModel.DataAnnotations;
@using System.Text.Json;
@using System.Globalization
@using Event2206.Data.Services
@inject UserService userService;
@inject NavigationManager MyNavigationManager


<style>
    .title {
        margin: 0 auto;
        text-align: center;
    }

    .form-register {
        margin: 0 auto
    }
</style>

<div>
    <Row>
        <Col Xl=14 class="title">
        <h1>Quý khách đã đăng ký thành công, vui lòng chụp ảnh hoặc lưu lại mã QR Code bên dưới. để có thể nhận được những phần quà hấp dẫn trong buổi tiệc</h1>
        <img src="@ImageUrl" />
        </Col>
    </Row>
</div>


@code
{

    [Parameter]
    public string Id { get; set; }
    public string ImageUrl { get; set; }

    public class Person
    {
        [Required]
        public string Name { get; set; }
        public int Age { get; set; } = 2;
    }

    public class Model
    {
        public string Username { get; set; }
        public string Address { get; set; }
        public string Email { get; set; }
        public string PhoneNumber { get; set; }
        public string CompanyName { get; set; }

    }

    //public string path = Path.Combine(_environment.WebRootPath, "QRImage");

    private Model modelRules = new Model();
    private bool validateOnChange = false;

    private FormValidationRule[] userNameRules = new FormValidationRule[] {
        new FormValidationRule { Required = true , Message="Vui lòng nhập Họ và tên"}
    };

    private FormValidationRule[] addressRules = new FormValidationRule[]{
        new FormValidationRule{ Required = true , Message="Vui lòng nhập Địa chỉ"}
    };


    private FormValidationRule[] emailRules = new FormValidationRule[]{
        new FormValidationRule { Type = FormFieldType.Email, Required = true, Message="Vui lòng nhập Email" },
    };

    private FormValidationRule[] phoneNumberRules = new FormValidationRule[]{
        new FormValidationRule{ Required = true , Message="Vui lòng nhập Số điện thoại"}
    };

    protected override async Task OnInitializedAsync()
    {
        if (Id != null)
        {
            ImageUrl = MyNavigationManager.BaseUri + "QRImage/" + Id + ".png";
        }
    }



    private void OnFinish(EditContext editContext)
    {
        Console.WriteLine($"Success:{JsonSerializer.Serialize(modelRules)}");
    }

    private void OnFinishFailed(EditContext editContext)
    {
        Console.WriteLine($"Failed:{JsonSerializer.Serialize(modelRules)}");
    }


}